.navhead{
    box-shadow:  0px 0rem 1rem 0px rgb(153 151 151 / 22%)
}

.free{
    color: #0BCEAF;
}
.folio{
 color:  #343A40;
}

.homee{
    color: #343A40;
    font-weight: bold;
}
.homee:hover{
    color: #0BCEAF;
}
.navbtn{
    border: 2px solid #0BCEAF;
    color: #0BCEAF;
}
.navbtn:hover{
    background-color: #0BCEAF;
    color: white;
}
.green{
    background-color: #0BCEAF;
    min-height: 100vh;

}

/* .text{
    padding-top: 100px;
    
} */

.colorr{
  color:   #495057;
} 
.download{
    color: white; 
    border: 1px solid white;
}
.download:hover{
      background-color: white;
      color: #343A40;
}
.hire{
    border: 1px solid #0BCEAF;
    color: #0BCEAF ;
}
.hire:hover{
    
  background-color: #0BCEAF ;
  color: white;
  
}
.btn{
    margin-right: 20px;
}
/* .border{
    width: 1px;
    height: 200px;
} */
 .ri-focus-line {
    position: absolute;
    left: -35px;
    top:5px;
 }

 .bginfo{
    background-color: #0BCEAF;
 }

.all{
    background-color: #0BCEAF;
    color: white;
}



.blogi{
    position: absolute;
    left: 40%;
    top: 40%;
    width: 70px;
    height: 70px;
    background-color: #0BCEAF;
}
.textarea{
    border-radius: 40px;
}
.greenn{
    background-color: #0BCEAF;
}

.tota{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0px;
    width: 0px;
    background-color: #0BCEAF;
    left: 50%;
    top: 50%;
    font-size: 0px;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
    color: white;
}

.tota-main:hover .tota{
    color: white;
    font-size: 70px;
    height: 200px;
    width: 200px;
    transition: 1s;
}


   

